{% extends "layout.html" %}

{% block content %}

<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Courses</th>
      <th scope="col">IS661</th>
      <th scope="col">IS601</th>
      <th scope="col">IS677</th>
      <th scope="col">IS791</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Instructor</th>
      <td>Lee, Michael</td>
      <td>Williams, Keith</td>
      <td>Egan, Richard</td>
      <td>Quentin, Johns</td>
    </tr>
    <tr>
      <th scope="row">Course Description</th>
      <td>User Experience Design</td>
      <td>Web Systems Development</td>
      <td>Information System Principles</td>
      <td>Graduate Seminar</td>
    </tr>
    <tr>
      <th scope="row">Time</th>
      <td>1:00 PM - 3:50 PM</td>
      <td>2:30 PM - 5:20 PM</td>
      <td>1:00 PM - 3:50 PM</td>
      <td>TBD</td>
    </tr>
    <tr>
      <th scope="row">Room</th>
      <td>CKB 207</td>
      <td>CKB 317</td>
      <td>CKB 215</td>
      <td>TBD</td>
    </tr>
    <tr>
      <th scope="row">Attributes</th>
      <td>Face-To-Face F2F</td>
      <td>Face-To-Face F2F</td>
      <td>Face-To-Face F2F</td>
      <td>Face-To-Face F2F</td>
    </tr>
    </tbody>
  </table>
</div>

{% endblock %}
